@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

* {
    font-family: Inter, system-ui;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    padding: 0 32px 0;
    overflow: hidden;
}

ul {
    display: flex;
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 6rem 0 6rem;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}


.purple--text {
    color: rgba(100,21,255);
}

img {
}

.mini-heading {
    font-size: 16px;
    color: rgba(100,21,255);
    letter-spacing: 0.1em;
    font-weight: 700;
}

.heading {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    margin: 16px 0 16px;
    letter-spacing: 0.025em;
}

.para {
    /* margin-top: 12px; */
    font-size: 18px;
    color: #7c8ba1;
    line-height: 1.625;
    font-weight: 500;
}

/*

NAV BAR 

*/

#landing {
    padding: 32px 32px 0;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    align-items: center;
    margin: 0 auto;
}

.nav__logo--wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 0.25rem;
}

.nav__logo {
    width: 40px;
    margin-right: 12px;
    height: auto;
}

.nav__logo-header {
    font-weight: 900;
    font-size: 24px;
    color: #233e63;
    letter-spacing: 0.025em;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    color: #233e63;
    font-weight: 600;
    transition: all 150ms ease;
    letter-spacing: 0.025em;
}

.nav__link--secondary {
    margin-left: 48px;
}

.nav__link--primary {
    padding: 12px 32px;
    background-color: rgba(100,21,255);
    border-radius: 50px;
    color: white;
    margin-right: 0;
    margin-left: 0;
}

.nav__link:hover {
    text-decoration: underline;
    color: rgba(100,21,255);
}


/* 

HEADER

*/

header {
    position: relative;
    
}

.header__container {
   
}

.header__svg--blob {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -10;
    height: 16rem;
    width: 16rem;
    opacity: .05;
    transform: translateX(-66.67%);
}

.header__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__description {
    width: 41.667%;
}

.header__heading {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.25;
}

.header__para {
    font-size: 1.125rem;
    margin: 2rem 0;
    line-height: 27px;
    color: #243e63;
}

.header__trust {
    margin-top: 84px;
}

.header__trust--para {
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: 700;
    color: #A0AEC0;
    text-transform: uppercase;
}

.header__trust-badges {
    width: 100%;
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__img--wrapper {
    flex: 1 1 0%;
}

.header__img {
    max-width: 48rem;
    width: 100%;
}

.header__form {
    max-width: 28rem;
    position: relative;
}

.header__input {
    padding: 1.25rem 12rem 1.25rem 2rem;
    width: 100%;
    border-radius: 50px;
    border: 2px solid #e2e8f0;
    border-width: 2px;
    font-weight: 500;
    color: #243e63;
    font-size: 100%;
    height: 68px;

}

::placeholder, .header__input {
    opacity: 1;
    color: rgb(203, 213, 224);
}

.header__button {
    padding: 16px 0;
    width: 10rem;
    background-color: rgba(100,21,255);
    border-radius: 50px;
    color: #fff;
    border: none;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 8px 0;
    margin-right: 0.5rem;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 

FEATURES

*/

#features {
    position: relative;
}

.features__blob--svg {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.25;
    width: 16rem;
    transform: translate(8rem, 12rem);
}

.features__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__heading {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    margin: 24px 0;
}

.features__description--para {
    font-size: 18px;
    color: #7c8ba1;
    font-weight: 500;
    max-width: 36rem;
    margin-bottom: 32px;
    line-height: 1.625;
}

.services {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: flex-end;
}

.service {
    display: flex;
    width: 30%;
    max-width: 24rem;
    padding: 2rem 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
}

.service__icon {
    height: 68px;
    width: 68px;
    border: 1px solid #e5e7eb;
    padding: 20px;
    border-radius: 50px;
}

.service__title {
    font-size: 24px;
    font-weight: 700;
    color: #243e63;
    letter-spacing: 0.025em;
}

.service__para {
    margin-top: 16px;
    font-size: 16px;
    color: #7c8ba1;
    line-height: 2;
    font-weight: 500;
}

/* 

Quality

*/

.quality__row {
    display: flex;
}

.quality__description--wrapper {
    display: flex;
    margin-right: 4rem;
    width: 50%;
}

.quality__description {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.quality__button {
    margin-top: 3rem;
    padding: 0.85rem 2rem;
    display: inline-block;
    border-radius: 50px;
    font-size: 0.875rem;
    color: #fff;
    background-color: #6415ff;
    border: none;
    width: 25%;
    font-weight: 700;
}

.quality__wrapper {
    width: 50%;
    flex-shrink: 0;
    position: relative;
}

.quality__dots--svg {
    position: absolute;
    width: 5rem;
    bottom: 0;
    right: 0;
    z-index: -10;
    transform: translateX(50%);
    fill: rgb(100 21 255);
}

.quality__image {
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #e5e7eb;
}

/* 

STEPS

*/

.steps__row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps__image--wrapper {
    width: 50%;
    flex-shrink: 0;
    position: relative;
    display: flex;
}

.steps__dots--svg {
    position: absolute;
    bottom: 0;
    width: 10rem;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: -10;
    opacity: .15;
    fill: rgb(100 21 255);
}

.steps__image {
    width: 100%;
}

.steps__description {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 4rem;
    padding: 2rem 0;
}

.steps__info--description {
    display: flex;
    margin-top: 2rem;
}

.steps__ol {
    font-weight: 600;
    font-size: 2.25rem;
    color: #cbd5e0;
    line-height: 1;
}

.steps__info {
    margin-left: 1.5rem;
}

.steps__heading {
    line-height: 1;
    font-size: 1.25rem;
    font-weight: 600;
}

.steps__para {
    margin-top: 0.75rem;
    max-width: 20rem;
    line-height: 2;
    font-size: 0.875rem;
    font-weight: 500;
    color: #718096;
}

/* 

VALUES 

*/

.values__row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.values__description--wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 4rem;
    padding: 32px 0;
}

.values__para {
    font-size: 18px;
    line-height: 29px;
    margin-top: 16px;
}

.values__info--wrapper {
    display: flex;
    margin-top: 2rem;
}

.values__wrapper {
    display: flex;
    align-items: center;
}

.values__info {
    margin-left: 0.75rem;
    font-weight: 700;
    font-size: 1.25rem;
    color: ##243e63;
}

.values__info--para {
    margin-right: 2rem;
    margin-top: 1rem;
    color: rgba(113,128,150);
    line-height: 1.625;
}

.values__infos--para {
    margin-top: 1rem;
    color: rgba(113,128,150);
    line-height: 1.625;
    margin-right: 0;
}

.icon__wrapper--green {
    padding: 8px;
    background-color: rgba(154,230,180);
    border-radius: 999px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon__wrapper--red {
    padding: 8px;
    background-color: rgba(254,178,178);
    border-radius: 999px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.values__dollar-sign {
    height: 1.25rem;
    width: 1.25rem;
}

.values__suitcase {
    height: 20px;
    width: 20px;
}

.values__figure--wrapper {
    width: 50%;
    flex-shrink: 0;
}

.values__image {
    width: 100%;
}

/* 

PRICING 

*/

.pricing__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    justify-content: space-between;
}

.plan {
    width: 30%;
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e7eb;
    margin-right: 2rem;
    border-radius: 0.5rem;
}

.plan__para {
    max-width: 36rem;
    text-align: center;
    line-height: 1.625;
    margin-top: 8px;
}

.plan__border-top {
    height: 0.5rem;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__price--box {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.plan__name {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.625;
    text-transform: uppercase;
}

.plan__price {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    line-height: 1.625;
}

.plan__duration {
    color: rgba(160,174,192);
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.625;
    font-size: 16px;
}

.plan__description--box {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: 2px solid #e5e7eb;
    border-bottom: 2px solid #e5e7eb;
}

.business__plan--description {
    border-top: 2px solid rgba(102,126,234);
    border-bottom: 2px solid rgba(102,126,234);
}

.plan__main-description {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.plan__description {
    margin-top: 1.25rem;
    font-weight: 500;
    color: rgba(113,128,150);
}

.plan__button--box {
    padding: 2rem 6rem;
    width: 100%;
    text-align: center;
}

.personal__button {
    padding: 16px 32px;
    border-radius: 50px;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    width: 100%;
    color: #fff;
}

.business__plan--background{
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.business__plan {
    color: #f7fafc;
}

.business__plan--button {
    background-color: rgba(247,250,252);
    color: rgba(100,21,255);
    padding: 16px 32px;
    border-radius: 50px;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    width: 100%;
}

.enterprise__plan--button {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: #fff;
    padding: 16px 32px;
    border-radius: 50px;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    width: 100%;
}

.enterprise__border-top {
    height: 0.5rem;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

/* 

PRICING 

*/

.testimonial__row {
    display: flex;
    align-items: center;
}

.testimonial__image--wrapper {
    width: 50%;
}

.testimonial__image {
    width: 100%;
}

.tesimonial__description--wrapper {
    width: 50%;
    padding-left: 64px; 
}

.testimonial__para {
    font-size: 1.125rem;
    line-height: 1.625;
    padding-top: 8px;
}

.testimonial--stars{
    margin: 2.5rem 0 0;
    display: flex;
}

.stars {
    margin-right: 0.25rem;
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    fill: #f6ad55;
}

.testimonial__heading {
    margin: 16px 0 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgba(36,62,99);
}

.testimonial__info {
    margin: 16px 0 40px;
    line-height: 1.625;
    font-weight: 500;
    color: rgba(74,85,104);
}

.testimonial__review {
    display: flex;
    justify-content: space-between;
    aic
}

.customer__info {
    display: flex;
    align-items: center;
}

.customer__image {
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

.customer__description {
    margin-left: 1.5rem;
}

.customer__name {
    color: rgba(36,62,99);
    font-weight: 700;
    font-size: 1.25rem;

}

.customer__position {
    font-weight: 500;
    color: rgba(124,139,161);
}

.control__button {
    display: flex;
    align-items: center;
}

.left__button {
    margin: 0 0.75rem;
    border-radius: 50px;
    background-color: #edf2f7;
    padding: 1rem;
    display: flex;
    border-width: 0;
}

.right__button {
    margin: 0 0.75rem;
    border-radius: 50px;
    background-color: #edf2f7;
    padding: 1rem;
    display: flex;
    border-width: 0;
}

.left--arrow {
    height: 1rem;
    width: 1rem;
    stroke-width: 3;
    color: #6415ff;
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-width: 0;
    border-right-width: 1px;
    border-style: solid;
    border-color: #e2e8f0;
    height: 24px;

}

.right--arrow {
    height: 1rem;
    width: 1rem;
    stroke-width: 3;
    color: #6415ff;
}

/* 

Started 

*/

.cta-container {
    margin-bottom: 96px;
}

.started__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 2rem;
    margin: 0 auto;
    background-color: rgba(100,21,255);
    border-radius: 0.5rem;
}

.started__heading--wrapper {
    width: 60%;
    display: flex;
    max-width: 30rem;
    justify-content: space-between;
}

.started__heading{
    font-size: 1.875rem;
    font-weight: 700;
    color: #f7fafc;
    line-height: 45px;
}

.button__wrapper {
    width: 40%; 
    display: flex;
    justify-content: flex-end;
}

.started__button {
    padding: 23px 40px;
    border-radius: 50px;
    border: none;
    background-color: rgb(245, 101, 101);
    color: #f7fafc;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 2rem;
    letter-spacing: 0.025em;
}

.contact__button {
    padding: 20px 40px;
    border-radius: 50px;
    border: 1px solid #f7fafc;
    background-color: rgba(100,21,255);
    color: #f7fafc;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.025em;
}

/* 

Footer 

*/

.footer__container {
    background-color: rgba(100,21,255);
    padding: 6rem 2rem 6rem;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__list {
    display: flex;
    flex-direction:column;
    margin-top: 1rem;
}

.link__heading {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(247,250,252);
}

.footer__list--links {
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(247,250,252);
    margin-top: 0.75rem;
    padding-bottom: 4px;
}

.footer__line-break {
    max-width: 1280px;
    margin: 4rem 0;
    width: 100%;
    border-color: rgba(116,44,255);
    border-bottom-width: 2px;
    border-top-width: 0;
}

.footer__social--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    height: auto;
    width: 2rem;
    max-width: 100%;
    margin-right: 8px;
}

.footer__logo--wrapper {
    display: flex;
    align-items: center;
}

.footer__copyright {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(203,213,224);
}

.footer__icon-wrapper {
    padding: 8px;
    border-radius: 50px;
    background-color: #fff;
    margin-right: 16px;
    display: flex;
}

.footer__icon-wrapper:last-child {
    margin-right: 0;
}

.footer__social--icons {
    display: flex;
}

.footer__social--icon {
    width: 16px;
    height: auto;
}

.footer__logo--header {
    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: rgba(247,250,252);
}