@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

* {
    font-family: Inter, system-ui;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

main {
    padding: 0 32px 0;
    overflow: hidden;
}

ul {
    display: flex;
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    padding: 6rem 0 6rem;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}


.purple--text {
    color: rgba(100,21,255);
}

img {
}

.mini-heading {
    font-size: 16px;
    color: rgba(100,21,255);
    letter-spacing: 0.1em;
    font-weight: 700;
}

.heading {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    margin: 16px 0 16px;
    letter-spacing: 0.025em;
}

.para {
    /* margin-top: 12px; */
    font-size: 18px;
    color: #7c8ba1;
    line-height: 1.625;
    font-weight: 500;
}

/*

NAV BAR 

*/

.btn__menu {
    background-color: transparent;
    text-align: center;
    border: none;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    visibility: hidden;
    opacity: 0;
}

.menu--open .menu__backdrop {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.btn__menu--close {
    position: absolute;
    right: 24px;
    top: 40px;
    padding: 8px;
    color: rgb(100 21 255);
}

.menu__list--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 18px;
    color: #1a202c;
    font-weight: 600;
    letter-spacing: 0.025em;
}

#landing {
    padding: 32px 32px 0;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    align-items: center;
    margin: 0 auto;
}

.nav__logo--wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 0.25rem;
}

.nav__logo {
    width: 40px;
    margin-right: 12px;
    height: auto;
}

.nav__logo-header {
    font-weight: 900;
    font-size: 24px;
    color: #233e63;
    letter-spacing: 0.025em;
    transition: 300ms;
}

.nav__logo-header:hover {
    color: #6415ff;
}

.nav__link {
    padding-bottom: 0.25rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: transparent;
    margin: 0 24px;
    font-size: 14px;
    color: #233e63;
    font-weight: 600;
    transition: 300ms ease;
    letter-spacing: 0.025em;
}

.nav__link--secondary {
    margin-left: 48px;
}

.nav__link--primary {
    padding: 12px 32px;
    background-color: rgba(100,21,255);
    border-radius: 50px;
    color: white;
    margin-right: 0;
    margin-left: 0;
    border: 0px;
    transition: 300ms ease;
}


.nav__link:hover {
    color: rgba(100,21,255);
    border-color: rgba(100, 21, 255);
}

.nav__link--primary:hover {
    color: white;
    background-color: rgb(80 17 204);
}


/* 

HEADER

*/

header {
    position: relative;
    
}

.header__container {
   
}

.header__svg--blob {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -10;
    height: 16rem;
    width: 16rem;
    opacity: .05;
    transform: translateX(-66.67%);
}

.header__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__description {
    width: 41.667%;
}

.header__heading {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.25;
}

.header__para {
    font-size: 1.125rem;
    margin: 2rem 0;
    line-height: 27px;
    color: #243e63;
}

.header__trust {
    margin-top: 84px;
}

.header__trust--para {
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: 700;
    color: #A0AEC0;
    text-transform: uppercase;
}

.header__trust-badges {
    width: 100%;
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__img--wrapper {
    flex: 1 1 0%;
}

.header__img {
    max-width: 48rem;
    width: 100%;
}

.header__form {
    max-width: 28rem;
    position: relative;
}

::placeholder, .header__input {
    opacity: 1;
    color: rgb(203, 213, 224);
}

.header__input {
    padding: 1.25rem 12rem 1.25rem 2rem;
    width: 100%;
    border-radius: 50px;
    border: 2px solid #e2e8f0;
    border-width: 2px;
    font-weight: 500;
    color: #243e63;
    font-size: 100%;
    height: 68px;
    transition: 300ms;

}

.header__input:hover {
    border-color: rgb(160 174 192);
}

.header__input:focus {
    border-color: rgb(100 21 255);
    outline: transparent solid 2px;
    outline-offset: 2px;
}

.header__button {
    padding: 16px 0;
    width: 10rem;
    background-color: rgba(100,21,255);
    border-radius: 50px;
    color: #fff;
    border: none;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 8px 0;
    margin-right: 0.5rem;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 

FEATURES

*/

#features {
    position: relative;
}

.features__blob--svg {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.25;
    width: 16rem;
    transform: translate(8rem, 12rem);
}

.features__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__heading {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    margin: 24px 0;
}

.features__description--para {
    font-size: 18px;
    color: #7c8ba1;
    font-weight: 500;
    max-width: 36rem;
    margin-bottom: 32px;
    line-height: 1.625;
}

.services {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: flex-end;
}

.service {
    display: flex;
    width: 30%;
    align-items: flex-start;
    max-width: 24rem;
    padding: 2rem 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
}

.service__icon {
    border: 1px solid #e5e7eb;
    padding: 20px;
    border-radius: 50px;
}

.service__title {
    font-size: 24px;
    font-weight: 700;
    color: #243e63;
    letter-spacing: 0.025em;
}

.service__para {
    margin-top: 16px;
    font-size: 16px;
    color: #7c8ba1;
    line-height: 2;
    font-weight: 500;
}

/* 

Quality

*/

.quality__row {
    display: flex;
}

.quality__description--wrapper {
    display: flex;
    margin-right: 4rem;
    width: 50%;
}

.quality__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0;
}

.quality__button {
    margin-top: 32px;
    padding: 0.85rem 2rem;
    display: inline-block;
    border-radius: 50px;
    font-size: 0.875rem;
    color: #fff;
    background-color: #6415ff;
    border: none;
    font-weight: 700;
}

.quality__wrapper {
    width: 50%;
    flex-shrink: 0;
    position: relative;
}

.quality__dots--svg {
    position: absolute;
    width: 5rem;
    bottom: 0;
    right: 0;
    z-index: -10;
    transform: translate(50%, 30%);
    fill: rgb(100 21 255);
}

.quality__image {
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #e5e7eb;
}

/* 

STEPS

*/

.steps__row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps__image--wrapper {
    width: 50%;
    flex-shrink: 0;
    position: relative;
    display: flex;
}

.steps__dots--svg {
    position: absolute;
    bottom: 0;
    width: 10rem;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: -10;
    opacity: .15;
    fill: rgb(100 21 255);
}

.steps__image {
    width: 100%;
}

.steps__description {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 4rem;
    padding: 2rem 0;
}

.steps__info--description {
    display: flex;
    margin-top: 2rem;
}

.steps__ol {
    font-weight: 600;
    font-size: 2.25rem;
    color: #cbd5e0;
    line-height: 1;
}

.steps__info {
    margin-left: 1.5rem;
}

.steps__heading {
    line-height: 1;
    font-size: 1.25rem;
    font-weight: 600;
}

.steps__para {
    margin-top: 0.75rem;
    max-width: 20rem;
    line-height: 2;
    font-size: 0.875rem;
    font-weight: 500;
    color: #718096;
}

/* 

VALUES 

*/

.values__row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.values__description--wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-right: 4rem;
    padding: 32px 0;
}

.values__para {
    font-size: 18px;
    line-height: 29px;
    margin-top: 16px;
}

.values__info--wrapper {
    display: flex;
    margin-top: 2rem;
}

.values__wrapper {
    display: flex;
    align-items: center;
}

.values__info {
    margin-left: 0.75rem;
    font-weight: 700;
    font-size: 1.25rem;
    color: ##243e63;
}

.values__info--para {
    margin-right: 2rem;
    margin-top: 1rem;
    color: rgba(113,128,150);
    line-height: 1.625;
}

.values__infos--para {
    margin-top: 1rem;
    color: rgba(113,128,150);
    line-height: 1.625;
    margin-right: 0;
}

.icon__wrapper--green {
    padding: 8px;
    background-color: rgba(154,230,180);
    border-radius: 999px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon__wrapper--red {
    padding: 8px;
    background-color: rgba(254,178,178);
    border-radius: 999px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value__button {
    margin-top: 48px;
}

.values__dollar-sign {
    height: 1.25rem;
    width: 1.25rem;
}

.values__suitcase {
    height: 20px;
    width: 20px;
}

.values__figure--wrapper {
    width: 50%;
    flex-shrink: 0;
}

.values__image {
    width: 100%;
}

/* 

PRICING 

*/

.pricing__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    justify-content: space-between;
    position: relative;
}

.plan {
    width: 30%;
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e7eb;
    margin-right: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.06);
}

.svg__blob--plan {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;
    width: 16rem;
    height: 16rem;
    opacity: .25;
    transform: translate(-50%, 50%);
}

.plan__para {
    max-width: 36rem;
    text-align: center;
    line-height: 1.625;
    margin-top: 8px;
}

.plan__border-top {
    height: 0.5rem;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__price--box {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.plan__name {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.625;
    text-transform: uppercase;
}

.plan__price {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    line-height: 1.625;
}

.plan__duration {
    color: rgba(160,174,192);
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.625;
    font-size: 16px;
}

.plan__description--box {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: 2px solid #e5e7eb;
    border-bottom: 2px solid #e5e7eb;
}

.business__plan--description {
    border-top: 2px solid rgba(102,126,234);
    border-bottom: 2px solid rgba(102,126,234);
}

.plan__main-description {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.plan__description {
    margin-top: 1.25rem;
    font-weight: 500;
    color: rgba(113,128,150);
}

.plan__button--box {
    padding: 2rem 6rem;
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.plan__button--box:nth-child(odd) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.shadow-style {
    transition: 300ms;
}

.shadow-style:hover {
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);;
    transform: translate(1px, -1px);
}

.personal__button {
    padding: 16px 32px;
    border-radius: 50px;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    width: 100%;
    color: #fff;
}

.business__plan--background{
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.business__plan {
    color: #f7fafc;
}

.business__plan--button {
    background-color: rgba(247,250,252);
    color: rgba(100,21,255);
    padding: 16px 32px;
    border-radius: 50px;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    width: 100%;
}

.business__plan--button:hover {
    background-color: rgb(226 232 240);
    color: rgb(70 15 179);
}

.enterprise__plan--button {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: #fff;
    padding: 16px 32px;
    border-radius: 50px;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    width: 100%;
}

.enterprise__border-top {
    height: 0.5rem;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

/* 

PRICING 

*/

.testimonial__row {
    display: flex;
    align-items: center;
}

.testimonial__image--wrapper {
    width: 50%;
}

.testimonial__image {
    width: 100%;
}

.tesimonial__description--wrapper {
    width: 50%;
    padding-left: 64px; 
}

.testimonial__para {
    font-size: 1.125rem;
    line-height: 1.625;
    padding-top: 8px;
}

.testimonial--stars{
    margin: 2.5rem 0 0;
    display: flex;
}

.stars {
    margin-right: 0.25rem;
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    fill: #f6ad55;
}

.testimonial__heading {
    margin: 16px 0 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgba(36,62,99);
}

.testimonial__info {
    margin: 16px 0 40px;
    line-height: 1.625;
    font-weight: 500;
    color: rgba(74,85,104);
}

.testimonial__review {
    display: flex;
    justify-content: space-between;
    aic
}

.customer__info {
    display: flex;
    align-items: center;
}

.customer__image {
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

.customer__description {
    margin-left: 1.5rem;
}

.customer__name {
    color: rgba(36,62,99);
    font-weight: 700;
    font-size: 1.25rem;

}

.customer__position {
    font-weight: 500;
    color: rgba(124,139,161);
}

.control__button {
    display: flex;
    align-items: center;
}

.shadow--fade {
    transition: 300ms;
}

.shadow--fade:hover {
    background-color: rgb(203 213 224);
}

.left__button {
    margin: 0 0.75rem;
    border-radius: 50px;
    background-color: #edf2f7;
    padding: 1rem;
    display: flex;
    border-width: 0;
}

.right__button {
    margin: 0 0.75rem;
    border-radius: 50px;
    background-color: #edf2f7;
    padding: 1rem;
    display: flex;
    border-width: 0;
}

.left--arrow {
    height: 1rem;
    width: 1rem;
    stroke-width: 3;
    color: #6415ff;
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-width: 0;
    border-right-width: 1px;
    border-style: solid;
    border-color: #e2e8f0;
    height: 24px;

}

.right--arrow {
    height: 1rem;
    width: 1rem;
    stroke-width: 3;
    color: #6415ff;
}

/* 

Started 

*/

.cta-container {
    margin-bottom: 96px;
}

.started__row {
    position: relative;
}

.svg__blob--wrapper {
    position: absolute;
    inset: 0px;
    overflow: hidden;
}

.started__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 2rem;
    margin: 0 auto;
    background-color: rgba(100,21,255);
    border-radius: 0.5rem;
}

.svg__left-blob--started {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20rem;
    width: 20rem;
    opacity: .5;
    color: rgb(80 17 204);
    transform: translate(-5rem, 8rem);
    z-index: 1;
}

.svg__right-blob--started {
    position: absolute;
    top: 0;
    right: 0;
    height: 20rem;
    width: 20rem;
    z-index: 1;
    opacity: .5;
    color: rgb(80 17 204);
    transform: translate(5rem, -16rem);
}

.started__heading--wrapper {
    width: 60%;
    display: flex;
    max-width: 30rem;
    justify-content: space-between;
    z-index: 5;
}

.started__heading{
    font-size: 1.875rem;
    font-weight: 700;
    color: #f7fafc;
    line-height: 45px;
}

.button__wrapper {
    width: 40%; 
    display: flex;
    justify-content: flex-end;
}

.started__button {
    padding: 23px 40px;
    border-radius: 50px;
    border: none;
    background-color: rgb(245, 101, 101);
    color: #f7fafc;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 2rem;
    letter-spacing: 0.025em;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
    z-index: 10;
    transition: 300ms;
}

.started__button:hover {
    background-color: rgb(229 62 62);

}

.contact__button {
    padding: 20px 40px;
    border-radius: 50px;
    border: 1px solid #f7fafc;
    background-color: rgba(100,21,255);
    color: #f7fafc;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.025em;
    z-index: 10;
    transition: 300ms;
}

.contact__button:hover {
    background-color: rgb(247 250 252);
    color: rgb(100 21 255);
}

/* 

Footer 

*/

.footer__container {
    background-color: rgba(100,21,255);
    padding: 6rem 2rem 6rem;
    position: relative;
}

.footer__svg--blob-wrapper {
    position: absolute;
    inset: 0px;
    overflow: hidden;
}

.footer__svg--left-blob {
    position: absolute;
    top: 0;
    left: 0;
    height: 20rem;
    width: 20rem;
    opacity: .5;
    z-index: 1;
    color: rgb(80 17 204);
    transform: translate(-5rem, -8rem);
}

.footer__svg--right-blob {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20rem;
    width: 20rem;
    opacity: .5;
    z-index: 1;
    color: rgb(80 17 204);
    transform: translate(8rem, 12rem);
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
}

.footer__list {
    display: flex;
    flex-direction:column;
    margin-top: 1rem;
}

.link__heading {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(247,250,252);
}

.footer__list--link-wrapper {
    margin-top: 12px;
}

.footer__list--links {
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(247,250,252);
    margin-top: 0.75rem;
    padding-bottom: 4px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: transparent;
    transition: 300ms;
    cursor: pointer;
}

.footer__list--links:hover {
    border-color: #fff;
}

.footer__line-break {
    max-width: 1280px;
    margin: 4rem 0;
    width: 100%;
    border-color: rgba(116,44,255);
    border-bottom-width: 2px;
    border-top-width: 0;
}

.footer__social--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    height: auto;
    width: 2rem;
    max-width: 100%;
    margin-right: 8px;
    z-index: 5;
}

.footer__logo--wrapper {
    display: flex;
    align-items: center;
    z-index: 5;
}

.footer__copyright {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(203,213,224);
    z-index: 5;
}

.footer__icon-wrapper {
    padding: 8px;
    border-radius: 50px;
    background-color: #fff;
    margin-right: 16px;
    display: flex;
    z-index: 5;
    cursor: pointer;
}

.footer__icon-wrapper:last-child {
    margin-right: 0;
}

.footer__social--icons {
    display: flex;
}

.footer__social--icon {
    width: 16px;
    height: auto;
}

.footer__logo--header {
    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: rgba(247,250,252);
}

/* SMALL LAPTOPS */

@media (max-width: 1024px) {
    .header__heading {
        font-size: 2.25rem;
    }

    .header__para {
        font-size: 16px;
        line-height: 24px;
    }

    .header__img {
        max-width: 32rem;
    }

    .header__img--wrapper {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
    }

    .header__trust-badges {
        padding-right: 64px;
    }

    .quality__wrapper {
        align-self: center;
    }

    .quality__dots--svg {
        transform: translate(50%, 45%);
    }

    .plan__button--box {
        padding: 2rem 4rem;
    }

    .testimonial__image--wrapper {
        width: 41.6667%;
    }

    .tesimonial__description--wrapper {
        width: 58.33%;
    }

    .started__wrapper {
        padding: 6rem 2rem;
        justify-content: space-between;
    }

    .started__heading--wrapper {
        width: 50%;
    }

    .button__wrapper {
        width: auto;
    }

    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }
}

/* Tablets */

@media (max-width: 768px) {
    .header__row {
        display: flex;
        flex-direction: column;
    }

    .header__description {
        width: auto;
        max-width: 32rem;
        text-align: center;
    }

    .header__heading {
        font-size: 30px;
    }

    .header__para {
        margin: 20px 0;
        font-size: 16px;
    }

    .header__form {
        margin: 0 auto;
    }

    .header__trust {
        margin-top: 48px;
    }

    .header__trust--para {
        font-size: 14px;
    }

    .header__trust-badges {
        padding-right: 0;
    }

    .header__img--wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: normal;
        margin-top: 3rem;
    }

    .features__description--para {
        font-size: 1rem;
    }

    .services {
        justify-content: center;
    }

    .service {
        width: 45%;
    }

    .heading {
        font-size: 36px;
    }

    .para {
        font-size: 16px;
    }

    .quality__description--wrapper {
        margin-right: 3rem;
    }

    .quality__button {
        margin-top: 32px;
    }

    .steps__description {
        margin-left: 3rem;
    }

    .values__description--wrapper {
        margin-right: 3rem;
    }

    .values__para {
        line-height: 1.625;
    }

    .values__info--wrapper {
        margin-top: 0;
    }

    .values__info--wrapper {
        flex-direction: column;
    }

    .values__big--wrapper {
        margin-top: 40px;
    }

    .quality__button  {
        margin-top: 48px;
    }

    .pricing--heading {
        font-size: 48px;
        text-align: center;
    }

    .plans {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .plan {
        margin-right: 0;
        margin-top: 4rem;
        width: 100%;
    }

    .tesimonial__description--wrapper {
        padding-left: 48px;
    }

    .footer__container {
        padding-top: 5rem;
    }

    .started__wrapper {
        flex-direction: column;
        padding: 5rem 2rem;
    }

    .started__heading--wrapper {
        width: 100%;
        text-align: center;
    }

    .button__wrapper {
        margin-top: 1.5rem;
    }

    .started__button {
        padding: 16px 32px;
    }

    .contact__button {
        padding: 16px 32px;
    }

    .cta-container {
        padding-bottom: 80px;
        margin-bottom: 80px;
    }
}

/* MOBILE PHONES */

@media (max-width: 550px) {
    .nav__logo--wrapper {
        margin: 8px 0;
        padding-bottom: 0;
    }

    .header__container {
        padding: 80px 0;
    }

    .header__form {
        display: flex;
        flex-direction: column;
    }

    .header__button {
        position: unset;
        width: auto;
        margin: 16px 0 0;
        padding: 18px 0;
    }

    .header__input {
        padding: 18px 0 18px 32px;
        height: auto;
    }

    .container {
        padding: 80px 0;
    }

    .features__heading {
        line-height: 54px;
        margin: 16px 0;
    }

    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 24rem;
    }

    .service {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service__title {
        text-align: center;
    }

    .service__para {
        text-align: center;
        margin-top: 4px;
    }

    .service__description {
        margin: 16px 0 0 0;
    }

    .quality__row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .quality__wrapper {
        width: 100%;
        max-width: 28rem;
        margin: 0 auto;
    }

    .quality__description--wrapper {
        width: 100%;
        max-width: 28rem;
        margin: 0 auto;
    }

    .quality__description {
        padding: 0;
        margin-top: 4rem;
        align-items: center;   
    }

    .heading {
        text-align: center;
        font-size: 30px;
    }

    .para {
        text-align: center;
    }

    .quality__button  {
        margin-top: 32px;
    }

    .steps__row {
        flex-direction: column;
    }

    .steps__image--wrapper {
        width: 100%;
        max-width: 28rem;
        margin: 0 auto;
    }

    .steps__description {
        width: 100%;
        align-items: center;
        padding: 0;
        margin: 4rem 0 0 0;
    }

    .steps__info--description {
        flex-direction: column;
        margin-top: 2rem;
        align-items: center;
    }

    .steps__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.75rem 0 0 0;
    }

    .steps__para {
        text-align: center;
    }

    .values__row {
        flex-direction: column-reverse;
    }

    .values__figure--wrapper {
        width: 100%;
        max-width: 28rem;
        margin: 0 auto;
    }

    .values__description--wrapper {
        margin: 0 auto;
        margin-top: 4rem;
        width: 100%;
        max-width: 28rem;
        padding: 0;
        align-items: center;
    }

    .values__wrapper {
        justify-content: center;
    }
    
    .values__info--para {
        text-align: center;
        margin-right: 0;
    }

    .values__infos--para {
        text-align: center;
        margin-right: 0;
    }

    .values__info--wrapper {
        max-width: 20rem;
    }

    .value__button {
        margin-top: 48px;
    }

    .pricing--heading {
        font-size: 36px;
    }

    .plans {
        margin-top: 0;
    }

    .plan__price {
        font-size: 36px;
    }

    .testimonial__row {
        flex-direction: column;
    }

    .testimonial__image--wrapper {
        width: 100%;
        max-width: 28rem;
        margin: 0 auto;        
    }

    .tesimonial__description--wrapper {
        padding-left: 0;
        width: 100%;
        max-width: 28rem;
        margin: 0 auto;
    }

    .mini-heading {
        text-align: center;
    }

    .testimonial--stars {
        justify-content: center;
    }

    .testimonial__heading {
        text-align: center;
    }

    .testimonial__info {
        text-align: center;
    }

    .testimonial__review {
        flex-direction: column;
        align-items: center;
    }

    .customer__info {
        flex-direction: column;
        align-items: center;
    }

    .customer__description {
        margin: 0.5rem 0 0 0;
    }

    .control__button {
        margin-top: 32px;
    }

    .customer__position {
        margin-top: 4px;
    }

    .started__heading--wrapper {
        max-width: 32rem;
    }

    .started__heading {
        font-size: 1.5rem;
        line-height: 36px;
    }

    .button__wrapper {
        flex-direction: column;
        max-width: 32rem;
    }

    .started__button {
        margin: 0 0 16px 0;
        padding: .95rem 1.5rem;
        font-size: 0.875rem;
    }

    .contact__button {
        padding: .95rem 1.5rem;
        font-size: 0.875rem;

    }

    .footer__container {
        padding: 2rem 2rem 5rem;
 
    }

    .footer__social--wrapper {
        flex-direction: column;
    }

    .footer__copyright {
        margin-top: 2rem;
        font-size: 0.875rem;
    }

    .links {
        justify-content: center;
    }

    .link {
        align-items: center;
        margin-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .footer__list {
        align-items: center;
    }

    .footer__social--icons {
        margin-top: 2rem;
    }

}